* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #4b1c1c;
  color: #333;
}

header {
  text-align: center;
  padding: 40px 20px;
}

.card-section {
  display: flex;
  background: rgb(126, 21, 21);
  justify-content: center;
  padding: 40px;
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.card h2 {
  margin-bottom: 10px;
}

.card p {
  margin-bottom: 15px;
}

.card button {
  padding: 8px 12px;
  border: none;
  background-color: #333;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

footer {
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}
